@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
}

.marquee-container {
  width: 100%;
}

.marquee-content {
  animation: marquee 50s linear infinite;
  white-space: nowrap;
  width: max-content;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
